<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/css/main.css">
    <title>About</title>
</head>

<body>
    <div id="content">
        <div class="page about-page">
            <header class="about-container">
                <div class="detail">
                    <h1 class="title">A <span class="brand-name">Cuppy</span> Knowledge</h1>
                    <p class="desc">
                        Welcome to Cuppy ! A cozy coffee shop born from a shared dream. Nestled in a bustling city,
                        Cuppy offers a retreat adorned with vintage furniture and the aroma of freshly brewed coffee.
                        Each cup is a symphony of carefully selected beans, roasted to perfection. It’s a haven where
                        artists sketch, writers muse, and friends gather over velvety lattes and homemade pie, fostering
                        stories, dreams, and friendships with every sip.
                    </p>
                </div>
                <ul class="contacts">
                    <li class="item">
                        <?xml version="1.0" ?><svg height="48" viewBox="0 0 48 48" width="48"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M24 4c-7.73 0-14 6.27-14 14 0 10.5 14 26 14 26s14-15.5 14-26c0-7.73-6.27-14-14-14zm0 19c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5z" />
                            <path d="M0 0h48v48h-48z" fill="none" />
                        </svg>
                        <p class="text">
                            4019 Dogwood Road
                            Phoenix, AZ 85012
                        </p>
                    </li>
                    <li class="item">
                        <?xml version="1.0" ?>
                        <!DOCTYPE svg
                            PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'><svg
                            enable-background="new 0 0 139 139" height="139px" id="Phone" version="1.1"
                            viewBox="0 0 139 139" width="139px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink">
                            <path
                                d="M67.317,81.952c-9.284-7.634-15.483-17.054-18.742-22.414l-2.431-4.583c0.85-0.912,7.332-7.853,10.141-11.619  c3.53-4.729-1.588-9-1.588-9S40.296,19.933,37.014,17.076c-3.282-2.861-7.06-1.272-7.06-1.272  c-6.898,4.457-14.049,8.332-14.478,26.968C15.46,60.22,28.705,78.216,43.028,92.148c14.346,15.734,34.043,31.504,53.086,31.486  c18.634-0.425,22.508-7.575,26.965-14.473c0,0,1.59-3.775-1.268-7.06c-2.86-3.284-17.265-17.688-17.265-17.688  s-4.268-5.119-8.998-1.586c-3.525,2.635-9.855,8.496-11.38,9.917C84.171,92.749,73.582,87.104,67.317,81.952z" />
                        </svg>
                        <p class="text">
                            +1 (966) 756-8444-xxx
                        </p>
                    </li>
                    <li class="item">
                        <?xml version="1.0" ?><svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="     M0 4     L0 6     L16 16     L32 6     L32 4     z     M0 9     L0 28     L32 28     L32 9     L16 19      z      " />
                        </svg>
                        <p class="text">
                            cuppyisaproject@theodinproject.com
                        </p>
                    </li>
                </ul>
            </header>
        </div>
    </div>
</body>

</html>