<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/css/main.css">
    <title>Cuppies</title>
</head>

<body>
    <header class="comp_nav">
        <nav>
            <div class="wrapper-button">
                <button type="button" class="items active" id="item-1">
                    Home
                </button>
            </div>
            <div class="wrapper-button">
                <button type="button" class="items" id="item-2">
                    Cuppies
                </button>
            </div>
            <div class="wrapper-button">
                <button type="button" class="items" id="item-3">
                    About
                </button>
            </div>
        </nav>
    </header>
    <div id="content">
        <div class="page cuppiespage">
            <div class="hero">
                <img src="/src/assets/pexels-tyler-nix-1259808-2396220.jpg" alt="" class="featured-banner"
                    id="featured-img img-1" data-featured-no="1">
                <img src="/src/assets/pexels-rachel-claire-5865232.jpg" alt="" class="featured-banner"
                    id="featured-img img-2" data-featured-no="2">
                <img src="/src/assets/pexels-oznur-taskan-172633297-12896257.jpg" alt="" class="featured-banner"
                    id="featured-img img-3" data-featured-no="3">
                <div class="top-layer">
                    <div class="top-section">
                        <button class="logo brand-name">Cuppy</button>
                        <div class="featured-layer">
                            <div class="featured-item">
                                <p class="featured-title">
                                    Featured Cuppies
                                </p>
                                <div class="featured-bubble">
                                    <button class="bubble-item active" data-featured-no="1">
                                        <img src="/src/assets/pexels-tyler-nix-1259808-2396220.jpg" alt=""
                                            class="featured" id="featured-img img-1">
                                    </button>
                                    <button class="bubble-item" data-featured-no="2">
                                        <img src="/src/assets/pexels-rachel-claire-5865232.jpg" alt="" class="featured"
                                            id="featured-img img-2">
                                    </button>
                                    <button class="bubble-item" data-featured-no="3">
                                        <img src="/src/assets/pexels-oznur-taskan-172633297-12896257.jpg" alt=""
                                            class="featured" id="featured-img img-3">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <section class="product-section">

            </section>
        </div>
    </div>
</body>

</html>