.wrapper-loading-screen {
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.wrapper-loading-screen.active {
    z-index: 99;
}

.loading-screen {
    height: 100dvh;
    position: relative;
}

.strip {
    background-image: linear-gradient(90deg, #FFFDD0, #c99c83);
    height: calc(100% / 5);
    transform: translateX(-100%);
}

.strip:nth-of-type(3) {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.loading-screen svg {
    fill: #8B3F3F;
    height: 120px;
    width: 120px;
}

.loading-text {
    color: #8B3F3F;
    font-size: 2.5rem;
}

.loading-strip {
    animation: loading_strip 4s ease-in-out var(--_strip-delay);
}

.coffee-bounce {
    animation: coffee_bounce 1.1s ease-in-out 1.7s;
}