header.comp_nav {
    background-color: $accent-color;
    box-shadow: 5px 5px $dark-text_color;
    transition: 0.3s;
    position: fixed;
    z-index: 50;
}

nav {
    padding: 10px 30px;
    width: 475px;
    display: flex;
    transition: 0.3s;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}

.comp_nav .items {
    background-color: transparent;
    border: 0;
    border-radius: 30px;
    color: $light-text_color;
    padding: 7px 20px;
    min-width: max-content;
    width: 65px;
    transition: 0.2s;
    position: relative;
}

.comp_nav :is(#item-1, #item-3) {
    font-size: 1.3rem;
}

.comp_nav #item-2 {
    font-family: $font-stack-accent;
    font-size: 2rem;
}

.comp_nav .items:hover {
    color: $secondary-color;
}

.comp_nav:has(.items:hover) {
    background-color: $dark-text_color;
    box-shadow: 5px 5px $light-text_color;
}

.comp_nav .items::before, .comp_nav .items::after {
    content: '';
    height: 20px;
    width: 20px;
    position: absolute;
    bottom: 50%;
}