// Import font(s)
@import url('https://fonts.cdnfonts.com/css/lathic');
@import url('https://fonts.cdnfonts.com/css/seafood');
@import url('https://fonts.cdnfonts.com/css/lettifa-cutes');

// Variables ===================

// Colors
$primary-color: #c99c83;
$secondary-color: #FFFDD0;
$accent-color: #8B3F3F;
$main-gradient: radial-gradient(circle at top left, #FFFDD0 50%, #d1c392 70%, #a18c61 90%);
$main-gradient-alt: radial-gradient(circle at top center, #c99c83 50%, #b88367 70%, #a35e5e 90%);
$light-text_color: #FFFAF1;
$dark-text_color: #101015;

// Fonts
$font-stack-main: 'Lathic', sans-serif;
$font-stack-sub: 'Seafood', sans-serif;
$font-stack-accent: 'Lettifa Cutes', sans-serif;
                                                

// Variables ===================

// Configure root
:root {
    font-family: $font-stack-main;
}

// Reset boxes
*:not(dialog) {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}