@import './component-card';
@import './component_modal';

body:has(dialog[open])
{
    overflow: hidden;
}

.cuppiespage {
    background-color: $primary-color;
    padding: 30px;
}

.cuppiespage .hero {
    border: 3px solid $light-text_color;
    // box-shadow: 0 10px 15px #000000b5;
    // border-radius: 50px;
    width: 100%;
    height: 85dvh;
    overflow: hidden;
    position: relative;
}

.cuppiespage .hero::after {
    content: '';
    box-shadow: 0 0 30px 20px #000000b5 inset;
    // border-radius: 50px;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left:0;
    z-index: 0;
}

.cuppiespage .hero .featured-banner {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.cuppiespage .top-layer {
    background-image: radial-gradient(circle at center bottom, transparent 45%, $dark-text_color);
    padding: 45px 75px;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.cuppiespage .top-container {
    height: 100%;
    position: relative;
}

.cuppiespage .logo {
    background-color: transparent;
    border: none;
    font-size: 8rem;
    text-shadow: 5px 5px $dark-text_color;
    transform: translateX(-50%);
    left: 50%;
}

.cuppiespage .logo::after {
    content: 'Life in a Cup';
    font-size: 1.5rem;
    width: max-content;
    text-shadow: 2px 2px $dark-text_color;
    position: absolute;
    bottom: 73%;
    right: 5%;
}

.cuppiespage .featured-item {
    display: flex;
    flex-direction: column;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    left: 0;
}

.cuppiespage .featured-title {
    color: $light-text_color;
    font-family: $font-stack-sub;
    font-size: 5rem;
    text-shadow: 4px 4px $dark-text_color;
    margin-bottom: 13px;
}

.cuppiespage .featured-bubble {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 23px;
}

.cuppiespage .wrapper-bubble-text {
    transform: translateY(-50%);
    top: 50%;
    right: 0;
}

.cuppiespage .bubble-action {
    transform: translate(-50%, -50%);
    top: 100%;
    left: 50%;
}

.cuppiespage .wrapper-bubble-list {
    transform: translateX(-50%);
    bottom: 5%;
    left: 50%;
}

.cuppiespage .product-section {
    margin-top: 90px;
    position: relative;
}

.cuppiespage .header-text .detail {
    color: $light-text_color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cuppiespage .header-text .detail .title {
    font-family: $font-stack-accent;
    font-size: 4rem;
    text-shadow: 0 5px $dark-text_color;
}

.cuppiespage .header-text .detail .desc {
    font-size: 1.6rem;
    text-align: center;
    width: 700px;
}

.cuppiespage .header-text .category {
    margin: 75px 0 75px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.cuppiespage .header-text .category .item {
    background-color: transparent;
    border: 0;
}

.cuppiespage .header-text .category h1 {
    color: $light-text_color;
    font-family: $font-stack-accent;
    font-size: 3rem;
    text-shadow: 0 4px #000;
    transition: 0.3s;
    position: relative;
    z-index: 1;
}

.cuppiespage .header-text .category h1:hover {
    transform: scale(1.25);
}

.cuppiespage .header-text .category h1.active {
    color: $light-text_color;
    transform: scale(1.25);
}

.cuppiespage .header-text .category h1.active::before {
    background-color: $accent-color;
    box-shadow: 7px 7px $dark-text_color;
    border-radius: 0;
    width: 80%;
    height: 65px;
    transform: translate(-50%, -50%) rotate(0);
}

.cuppiespage .header-text .category h1::before {
    content: '';
    background-color: $dark-text_color;
    box-shadow: 7px 7px $light-text_color;
    border-radius: 7px;
    width: 90px;
    height: 90px;
    transform: translate(-50%, -50%) rotate(-15deg) skew(-30deg);
    transition: 0.3s;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
}

.cuppiespage .header-text .category h1:hover::before {
    box-shadow: 0;
    border-radius: 0;
    width: 80%;
    height: 65px;
    transform: translate(-50%, -50%) rotate(0);
}

// .cuppiespage .category .title .img-container {
//     border-radius: 50px;
//     width: 400px;
//     height: 100px;
//     overflow: hidden;
//     position: relative;
// }

// .cuppiespage .category .title .img-container::after {
//     content: '';
//     backdrop-filter: blur(2px);
//     height: 100%;
//     width: 100%;
//     position: absolute;
//     top: 0;
//     left: 0;
// }

// .cuppiespage .category .title img {
//     width: 100%;
//     height: 500px;
// }

.cuppiespage article.category-container {
    padding: 35px 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 30px;
    justify-content: center;
    justify-items: center;
    z-index: 1;
}