.opacity-none {
    opacity: 0;
}

.button-press {
    background-color: $accent-color !important;
}

.display-none {
    display: none;
}

.scale-1 {
    transform: scale(1);
}

.scale-05 {
    transform: scale(0.5);
}

.texture-overlay {
    background-image: url(../assets/pexels-janakukebal-6496463.jpg);
    background-size: cover;
    filter: blur(3px) brightness(0.7);
    width: 100%;
    height: 100%;
    opacity: 0.25;
    position: absolute;
    top: 0;
    left: 0;
}

.brand-name {
    color: $light-text_color;
    font-family: $font-stack-accent;
    text-transform: capitalize;
    position: relative;
    transform: rotate(-3deg);
}

.brand-name::after {
    content: 'Life in a Cup';
    font-size: 2rem;
    width: max-content;
    position: absolute;
    bottom: 73%;
    right: 5%;
}

.featured-banner {
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.3s;
}

.featured.active {
    opacity: 1;
}

.featured-bubble .bubble-item {
    border: 3px solid $dark-text_color;
    aspect-ratio: 1;
    border-radius: 50%;
    box-shadow: 0 0 15px -3px $dark-text_color;
    width: 80px;
    height: 80px;
    overflow: hidden;
    transition: 0.3s;
    position: relative;
}

.featured-bubble .bubble-item.active {
    border: 3px solid $light-text_color;
    transform: scale(1.2);
}

.featured-bubble img {
    object-fit: cover;
    width: 100%;
    object-position: 0 -15px;
}

.featured-bubble .bubble-item .bubble-text {
    transform: translateY(-50%);
    position: absolute;
    right: 100%;
    top: 50%;
}

.wrapper-bubble-text {
    position: absolute;
}

.bubble-text {
    background-color: #00000074;
    backdrop-filter: blur(15px);
    border-radius: 30px;
    padding: 24px 27px 33px;
    height: 275px;
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    transition: 0.3s;
}

.bubble-text .featured-name {
    color: $light-text_color;
    font-size: 2.7rem;
    font-weight: bold;
}

.bubble-text .featured-price {
    color: $secondary-color;
    font-size: 2.2rem;
    font-weight: normal;
}

.bubble-text .featured-desc {
    color: $light-text_color;
    font-size: 1.4rem;
    text-align: justify;
    text-transform: capitalize;
    padding-top: 10px;
}

.bubble-action {
    background-color: $light-text_color;
    border: 0;
    border-radius: 30px;
    color: $dark-text_color;
    font-size: 1.7rem;
    padding: 13px 22px;
    position: absolute;
    transition: 0.3s;
}

.wrapper-bubble-list {
    position: absolute;
}

.wrapper-bubble-list .featured-list {
    background-color: #00000074;
    backdrop-filter: blur(15px);
    border-radius: 30px;
    padding: 13px 23px 13px 47px;
    list-style-type: '\2713  ';
    display: flex;
    gap: 40px

}

.wrapper-bubble-list .item {
    color: $light-text_color;
    font-size: 1.5rem;

    &::marker {
        color: rgb(0, 255, 0);
        font-weight: bold;
    }
}